<!-- common header show -->
<common-header></common-header>

<ion-content class="page-wrapper">
  <div style="display: flow-root" class="page-inner">
    <!-- ------------ sub Header Start ----------------->
    <ion-row class="sub-header width-100 pull-left nomargin nopadding">
      <ion-col size-xs="7" size-sm="6" class = "sub-header-item pull-left width-100 padding-10">
        <div class = "sub-header-color pull-left width-100 font-size-18 vertical-middle">
          <span>Dashboard</span>
        </div>
      </ion-col>
      <ion-col size-xs="5" size-sm="6" class = "transaction-inner pull-left width-100 padding-10">
        <div class = "sub-header-color width-100 text-right">
          <span class="font-size-13"> {{curentDate | date:'dd MMM yyy'}} <i>|</i> {{curentDate | date:'h:mm a '}}</span>
        </div>
      </ion-col>
    </ion-row> 
    <!-- ------------ sub Header End ----------------->
    <ion-row class="display-search width-100">
      <ion-col size-xs="12" size-sm="8" class="text-center">
        <!-- display record start -->
        <div class="display-records">
            <ion-item class="record" lines="none">
              <span>Records: </span>
                <mat-select [(ngModel)]="displayRecord" name="food" (selectionChange)="displayRecordChange($event.value)">
                  <mat-option *ngFor="let record of displayRecords" [value]="record.displayValue">
                    {{record.displayValue}}
                  </mat-option>
                </mat-select>
            </ion-item>
            <span class="buttons pull-left" >
              <span *ngIf="showInterestbutton">
                <!-- <ion-button (click)="openInterestModal('Add Interest', 'multiple', 'form_submit_url', checkedList)" tooltip="Add Interst" flow="up" delay="500">
                  Interest
                </ion-button> -->
                <!-- <ion-button (click)="openInterestModal('Add Brokerage', 'multiple', 'form_submit_url', checkedList)" tooltip="Add Brokerage" flow="up" delay="500">
                  Brokerage
                </ion-button> -->
              </span>
              <!-- mobile search button show -->
              <ion-button class="mobile-search" tooltip="Search" flow="up" delay="500" (click)="toggleMobileSearch = !toggleMobileSearch">
                <ion-icon name="search"></ion-icon>
              </ion-button>
            </span>
        </div>
        <!-- display record end -->
      </ion-col>
      <!-- ======= search for mobile start ======= -->
      <ion-col size-xs="12" size-sm="4" class="ion-float-right" class="left-search" *ngIf="!!toggleMobileSearch">
        <ion-item lines="none">
          <ion-searchbar placeholder="Search"  debounce="1000" [(ngModel)]="searchTerm" (ionChange)="searchList($event)"> </ion-searchbar>
          <ion-button tooltip="Advanced Search" flow="left" delay="500" (click)="toggleShow = !toggleShow">
              <ion-icon name="search"></ion-icon>
          </ion-button>
          <!-- <ion-button   color="light">
              <ion-icon ios="ios-close" md="md-close"></ion-icon>
          </ion-button> -->
        </ion-item>
      </ion-col>
      <!-- ====== search for mobile end ========= -->
      <!-- search start -->
      <ion-col size-xs="12" size-sm="4" class="ion-float-right" class="left-search left-search-mobile">
        <ion-item lines="none">
          <ion-searchbar placeholder="Search"  debounce="1000" [(ngModel)]="searchTerm" (ionChange)="searchList($event)"> </ion-searchbar>
          <ion-button tooltip="Advanced Search" flow="left" delay="500" (click)="toggleShow = !toggleShow; searchTerm=''">
              <ion-icon name="search"></ion-icon>
          </ion-button>
          <!-- <ion-button   color="light">
              <ion-icon ios="ios-close" md="md-close"></ion-icon>
          </ion-button> -->
        </ion-item>
      </ion-col>
      <!-- search end -->
    </ion-row>

    <!-- advance search start (using template diven form)-->
      <form class="advance-search-form" #advSearchTransactionForm="ngForm" (ngSubmit)="onSubmitAdvanceForm(advSearchTransactionForm)" *ngIf="!!toggleShow">
            
        <ion-grid class="advance-search-form-underpart">
          <ion-row>

            <!-- Lender-->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <ion-label position="floating"> Lender </ion-label>
              <ng-select #lenderSerch
                  [loading]="selectLoadingDependLender"
                  [dropdownPosition]="'bottom'"
                  placeholder="Please Select Lender"
                  [items]="lenderList"
                  bindLabel="name"
                  name="lender_id"
                  bindValue="id"
                  (change)="onChange(model.lender_id)"
                  [searchable]="false"
                  [(ngModel)]="model.lender_id"
                  >
                  <ng-template ng-header-tmp>
                      <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="lenderSerch.filter($event.target.value)" [autofocus]="true"

                      />
                  </ng-template>
              </ng-select>
            </ion-col>

            <!-- Borrower-->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <ion-label position="floating"> Borrower </ion-label>
              <ng-select #borrowerSerch
                  [loading]="selectLoading"
                  [dropdownPosition]="'bottom'"
                  placeholder="Please Select Borrower"
                  [items]="borrowerList"
                  bindLabel="name"
                  name="brrower_id"
                  bindValue="id"
                  (change)="onChange($event)"
                  [searchable]="false"
                  [(ngModel)]="model.brrower_id"
                  >
                  <ng-template ng-header-tmp>
                      <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="borrowerSerch.filter($event.target.value)" [autofocus]="true"

                      />
                  </ng-template>
              </ng-select>
            </ion-col>

            <!--Start Due Datepicker -->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <div>
                <ion-label position="floating">Start Due Date</ion-label>
                <ion-input class="date-picker" 
                readonly 
                name="due_start_date"
                [(ngModel)]="model.due_start_date" 
                [liIonic4Datepicker]="startdatePickerObj" 
                (ionChange)="onDateChangeDueStartDate(model.due_start_date)"
                >
                </ion-input>
              </div>
            </ion-col>

            <!--End Due datepicker -->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <div>
                <ion-label position="floating">End Due Date</ion-label>
                <ion-input class="date-picker" 
                readonly 
                name="due_end_date"
                [(ngModel)]="model.due_end_date"
                [liIonic4Datepicker]="endDatePickerObj" 
                (ionChange)="myFunction()"
                >
                </ion-input>
              </div>
            </ion-col>

            <!--start next due datepicker -->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <div>
                <ion-label position="floating">Start Next Due Date</ion-label>
                <ion-input class="date-picker" 
                readonly 
                name="next_due_start_date"
                [(ngModel)]="model.next_due_start_date" 
                [liIonic4Datepicker]="startdatePickerObj" 
                (ionChange)="onDateChangeNextDueStartDate(model.next_due_start_date)"
                >
                </ion-input>
              </div>
            </ion-col>

            <!--end next due datepicker -->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <div>
                <ion-label position="floating">End Next Due Date</ion-label>
                <ion-input class="date-picker" 
                readonly 
                name="next_due_end_date"
                [(ngModel)]="model.next_due_end_date"
                [liIonic4Datepicker]="endDatePickerObj" 
                (ionChange)="myFunction()"
                >
                </ion-input>
              </div>
            </ion-col>

            <!--  Interest status-->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <ion-label position="floating">  Interest status </ion-label>
              <ng-select #interestSerch
                  [loading]="selectLoading"
                  [dropdownPosition]="'bottom'"
                  placeholder="Please Select  Interest status"
                  [items]="interestList"
                  bindLabel="name"
                  name="interest_status"
                  bindValue="id"
                  (change)="onChange($event)"
                  [searchable]="false"
                  [(ngModel)]="model.interest_status"
                  >
                  <ng-template ng-header-tmp>
                      <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="interestSerch.filter($event.target.value)" [autofocus]="true"

                      />
                  </ng-template>
              </ng-select>
            </ion-col>

            <!-- Principal Status-->
            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
              <ion-label position="floating"> Principal Status </ion-label>
              <ng-select #principalSerch
                  [loading]="selectLoading"
                  [dropdownPosition]="'bottom'"
                  placeholder="Please Select Principal Status"
                  [items]="principalList"
                  bindLabel="name"
                  name="principal_status"
                  bindValue="id"
                  (change)="onChange($event)"
                  [searchable]="false"
                  [(ngModel)]="model.principal_status"
                  >
                  <ng-template ng-header-tmp>
                      <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="principalSerch.filter($event.target.value)" [autofocus]="true"

                      />
                  </ng-template>
              </ng-select>
            </ion-col>

            

          </ion-row>
          <ion-row class="form-button-section">
            <!-- Buttons -->
            <ion-col>
                <ion-button color="secondary" size="default" color="secondary" type="submit" [disabled]="!advSearchTransactionForm.valid">
                    <ion-icon name="search"></ion-icon>
                    Search
                </ion-button>
                <ion-button size="default" fill="clear" color="danger" (click)="toggleShow = false; onRefreshPage($event)">
                    <ion-icon name="close"></ion-icon>
                    Cancel
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    <!-- advance search end --> 
  
    <div class="pull-left width-100">
      <ion-grid >
        <ion-row>
          <ion-col size="12">
            <!-- loading -->
            <div class="edit-loading-page" *ngIf="viewLoadData" style="margin-bottom: 20px;">
              <span>
                <ion-spinner name="lines"></ion-spinner>
              </span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="desboard-counts">
              <div class="desboard-count-item job-Posted" *ngIf="viewData?.TotalLenderAmount"> 
                <div class="count-text">
                  Lent Amount
                </div>
                <div class="count-value">
                  {{viewData?.TotalLenderAmount}}
                </div>
              </div>
              <div class="desboard-count-item traning" *ngIf="viewData?.TotalBorrowerAmount">
                <div class="count-text">
                  Borrowed Amount
                </div>
                <div class="count-value">
                  {{viewData?.TotalBorrowerAmount}}
                </div>
              </div>
              <div class="desboard-count-item registration" *ngIf="viewData?.LenderInterestAmount">
                <div class="count-text">
                  Lender Interest
                </div>
                <div class="count-value">
                  {{viewData?.LenderInterestAmount}}
                </div>
              </div>
              <div class="desboard-count-item company" *ngIf="viewData?.BorrowerInterestAmount">
                <div class="count-text">
                  Borrower Interest
                </div>
                <div class="count-value">
                  {{viewData?.BorrowerInterestAmount}}
                </div>
              </div>
              <div class="desboard-count-item course" *ngIf="viewData?.LenderBrokerageAmount">
                <div class="count-text">
                  Lender Brokerage
                </div>
                <div class="count-value">
                  {{viewData?.LenderBrokerageAmount}}
                </div>
              </div>
              <div class="desboard-count-item order" *ngIf="viewData?.BrowwerBrokerageAmount">
                <div class="count-text">
                  Borrower Brokerage
                </div>
                <div class="count-value">
                  {{viewData?.BrowwerBrokerageAmount}}
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col size-xs="6" size-sm="6" size-md="4"  size-lg="3" *ngIf='viewData?.TotalLenderAmount'>
            <div class="ticket-show" style="background-image: linear-gradient( var(--ion-color-primary), var(--ion-color-lighter))">
              <div class="ticket-no-show">
                  <span>{{viewData?.TotalLenderAmount}}</span>
              </div>
              <div class="ticket-description">
                <span>Lender Amount</span>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="4"  size-lg="3" *ngIf='viewData?.TotalBorrowerAmount'>
            <div class="ticket-show" style="background-image: linear-gradient( var(--ion-color-danger-thin), var(--ion-color-lighter))">
              <div class="ticket-no-show">
                <span>{{viewData?.TotalBorrowerAmount}}</span>
              </div>
              <div class="ticket-description">
                <span>Borrower Amount</span>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="4"  size-lg="3" *ngIf='viewData?.LenderInterestAmount'>
            <div class="ticket-show" style="background-image: linear-gradient( var(--ion-color-deepskyblue), var(--ion-color-lighter))">
              <div class="ticket-no-show">
                  <span>{{viewData?.LenderInterestAmount}}</span>
              </div>
              <div class="ticket-description">
                <span>Lender Interest</span>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="4"  size-lg="3" *ngIf='viewData?.BorrowerInterestAmount'>
            <div class="ticket-show" style="background-image: linear-gradient( var(--ion-color-warning-tint), var(--ion-color-lighter))">
              <div class="ticket-no-show">
                <span>{{viewData?.BorrowerInterestAmount}}</span>
              </div>
              <div class="ticket-description">
                <span>Borrower Interest</span>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="4"  size-lg="3" *ngIf='viewData?.LenderBrokerageAmount'>
            <div class="ticket-show" style="background-image: linear-gradient( var(--ion-color-success-tint), var(--ion-color-lighter))">
              <div class="ticket-no-show">
                <span>{{viewData?.LenderBrokerageAmount}}</span>
              </div>
              <div class="ticket-description">
                <span>Lender Brokerage</span>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="6" size-sm="6" size-md="4"  size-lg="3" *ngIf='viewData?.BrowwerBrokerageAmount'>
              <div class="ticket-show" style="background-image: linear-gradient( var(--ion-color-success-tint), var(--ion-color-lighter))">
                <div class="ticket-no-show">
                  <span>{{viewData?.BrowwerBrokerageAmount}}</span>
                </div>
                <div class="ticket-description">
                  <span>Borrower Brokerage</span>
                </div>
              </div>
            </ion-col>
        </ion-row> -->
        
      </ion-grid>
      <!-- list data show in table format start -->
      <div class="table-outer" style="overflow-x:auto; margin-top: 10px;" >
        <table class="data-table">
          <thead [ngClass]="{'disabled-only-pointer':isListLoading}">
            <tr>

              <th style="padding-left: 3px;">
                <span>
                    <ion-icon style="zoom:2.0;" name="information"></ion-icon>
                </span>
              </th>

              <th>
                <div class="ion-checkbox" [hidden]="isListLoading">
                  <ion-checkbox slot="end" name="select_all_item" [(ngModel)]="allselectModel" (ionChange)="allSelectItem($event)" ></ion-checkbox>
                </div>
              </th> 

              <!-- table header -->
              <th *ngFor="let th of tableHeaderData " [hidden]="th.is_default == 0 || isListLoading" (click)="th.is_sortable == 1 && isSortTableHeader(tableHeaderData, th)">
                <span>{{th.display_name}}</span>
                <!-- sorting header -->
                <span *ngIf="th.is_sortable == 1">
                  <span class="asc-sort" [hidden]="th.sortingButtonName == 'desc'" [ngClass]="{'active': th.sortingButtonName == 'asc'}">
                    <ion-icon name="arrow-dropup"></ion-icon>
                  </span>
                  <span class="desc-sort" [hidden]="th.sortingButtonName == 'asc'" [ngClass]="{'active': th.sortingButtonName == 'desc'}">
                    <ion-icon name="arrow-dropdown"></ion-icon>
                  </span>
                </span>
              </th>

              <th>
                <span >Action</span>
              </th>

              <th class="column-selection-popover" tooltip="Select Column" flow="left" delay="500">
                  <ion-icon name="options" style="zoom:2.0;" (click)="openColumnselection($event)" ></ion-icon>
              </th>

            </tr>
          </thead> 
          <tbody>
            <tr *ngFor="let item of fetchItems; let i = index" [hidden]="isListLoading" [ngClass]="{'hilight_activated': (activeHighlightIndex == listAlldata.from + i), 'delete_item_effect':item?.deleteLodershow}">
                <td data-title="ID">
                  <!-- <span>{{listAlldata.from + i}}</span> -->
                  <!-- <span>{{listAlldata.from + i}}</span> -->
                  <span>{{listAlldata.from + i}}</span>
                </td>
                <td>         
                    <ion-checkbox name="checkbox_name" [(ngModel)]="item.isSelected"  slot="end" (ionChange)="onCheckboxSelect(item, $event)" ></ion-checkbox>
                </td>

                <!-- table data -->
                <!-- <td *ngFor="let th of tableHeaderData | filtermulti: [{is_default:1},{is_display:1}]"> -->
                
                  <td *ngFor="let th of tableHeaderData " [hidden]="th.is_default == 0" [routerLink]="['/', 'transaction-view', item.id]" (click)="clickItemHighlight(i + 1)">

                    <!-- lender -->
                    <span *ngIf="th.column_name === 'lender'">
                      {{ item.lender?.name }} 
                      <!-- {{ item.lender_id }} -->
                    </span>
  
                    <!-- brrower -->
                    <span *ngIf="th.column_name === 'brrower'">
                      {{ item.brrower?.name }} 
                      <!-- {{ item.brrower_id }} -->
                    </span>
  
                    <!-- lgroup -->
                    <span *ngIf="th.column_name === 'lgroup'">
                      {{ item.lgroup?.name }} 
                    </span>
  
                    <!-- bgroup -->
                    <span *ngIf="th.column_name === 'bgroup'">
                      {{ item.bgroup?.name }} 
                    </span>
                    
                    <!-- transaction_status -->
                    <span *ngIf="th.column_name === 'transaction_status'" class="listing-status" [ngClass]="{'success':item?.transaction_status == '1','danger':item?.transaction_status == '3', 'warning':item?.payment_mode == 'cheque' && item?.transaction_status == '0', 'danger':item?.transaction_status == '2'}">
                      <!-- {{ transactionStatuss[item.transaction_status]?.name }}  -->
                      <!-- {{item[th.column_name]}} -->
                      {{item?.transaction_status_name}}
                    </span>

                    <!-- brokerage_status -->
                    <span *ngIf="th.column_name === 'brokerage_status'" class="listing-status" [ngClass]="{'success':item?.brokerage_status == '1','danger':item?.brokerage_status == '3',  'warning':item?.brk_payment_mode == 'cheque' && item?.brokerage_status == '0','danger':item?.transaction_status == '2'}">
                      <!-- {{ transactionStatuss[item.transaction_status]?.name }}  -->
                      <!-- {{item[th.column_name]}} -->
                      {{item?.brokerage_status_name}}
                    </span>
                    
                    <!-- principle_status_name -->
                    <span *ngIf="th.column_name === 'principle_status_name'" class="listing-status" [ngClass]="{'success':item?.principle_status == '1','danger':item?.principle_status == '0'}">
                        {{item[th.column_name]}}
                    </span>

                    <!-- prncpl_rtrn_dt date -->
                    <span *ngIf="th.column_name === 'prncpl_rtrn_dt'">
                      {{item[th.column_name] | date:'dd MMM yyy'}}
                    </span>
  
                    <!-- start_date -->
                    <span *ngIf="th.column_name === 'start_date'">
                      {{item[th.column_name] | date:'dd MMM yyy'}}
                    </span>
  
                    <!-- end_date -->
                    <span *ngIf="th.column_name === 'end_date'">
                      {{item[th.column_name] | date:'dd MMM yyy'}}
                    </span>
  
                    <!-- account_branch  -->
                    <span *ngIf="th.column_name === 'account_branch'">
                      {{item.account_branch?.name}}
                    </span>
                    
                    <!-- Transaction ID  -->
                    <span *ngIf="th.column_name === 'id'">
                      {{item?.dgr_transaction_id}}
                    </span>
  
                    
                    <!-- status -->
                    <!-- <span *ngIf="th.column_name === 'Status' && item.id !== editStatusID" (click)="inlineStatusEdit(item.id)">{{ item.Status }}  </span>
                    <span *ngIf="item.id == editStatusID">
                      <span *ngIf="th.column_name === 'Status'">
                          <select [(ngModel)]="item.Status">
                            <option value="Pending">Pending</option>
                            <option value="Review">Review</option>
                            <option value="Completed">Completed</option>
                          </select>
                          <span>
                            <button type="submit" (click)="inlineChangeSaveable(item.Status)" mat-icon-button color="primary" aria-label="Example icon-button with a done icon">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button (click)="inlineStatusEdit()" type="reset" mat-icon-button color="warn" aria-label="Example icon-button with a done icon">
                              <mat-icon>clear</mat-icon>
                            </button>
                          </span>
                        </span>
                    </span> -->
  
                    <!--all  common -->
                    <span *ngIf="th.column_name !== 'lender' && th.column_name !== 'brrower' && th.column_name !== 'lgroup' && th.column_name !== 'bgroup' && th.column_name !== 'transaction_status' && th.column_name !== 'prncpl_rtrn_dt' && th.column_name !== 'account_branch' && th.column_name !== 'start_date' && th.column_name !== 'end_date' && th.column_name !== 'id' && th.column_name !== 'brokerage_status' && th.column_name !== 'principle_status_name'"> {{ item[th.column_name] }} </span>
                </td>

                <td class="action">
                  <!-- view button -->
                  <ion-button color="success" tooltip="View" delay="500" [routerLink]="['/', 'transaction-view', item.id]" (click)="clickItemHighlight(i + 1)">
                    <ion-icon name="expand"></ion-icon>
                  </ion-button> 

                  <!-- Export -->
                  <ion-button color="primary" tooltip="Pdf" flow="up" delay="500" (click)="clickItemHighlight( i +1); onExport('single', fetchItems, item)" >
                    <ion-icon name="document"></ion-icon>
                  </ion-button>
                </td>
            </tr>
            <!-- [hidden]="viewData?.all_transaction_list?.length > 0  -->
            <tr [hidden]="!isListLoading" class="loading-table-data">
              <td colspan="100">
                <span style="font-size: 16px;">Data is loading...</span>
              </td>
            </tr>
            <tr *ngIf="viewData?.all_transaction_list?.length == 0 && !isListLoading" class="loading-table-data">
              <td colspan="100">
                  No Data Found
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- list data show in table format end -->
    </div>
  </div>
  <!-- pager start -->
    <!-- <ion-row [hidden]="listAlldata?.total == 0" [ngClass]="{'disabled':isListLoading}"></ion-row> -->
    <ion-row [ngClass]="{'disabled':isListLoading}">
      <ion-col size-xs="12" class="footer pull-left nomargin nopadding width-100">
      <ul class="left-menu pull-left padding-left-0 margin-top-14">

        <!-- onRefreshPage -->
        <li (click)="onRefreshPage($event)" >
          <ion-button class="background-orange" tooltip="Refresh" flow="right" delay="500">
              <ion-icon name="refresh"></ion-icon>
          </ion-button>

          <!-- enable button status -->
          <!-- <ion-button class="footer-list-button" color="success" tooltip="Enable" delay="500" [ngClass]="{'disabled':checkedList.length == 0}" (click)="enabledDisabled('multiple', '1', fetchItems);">
            <ion-icon name="eye"></ion-icon>
          </ion-button> -->

          <!-- disable button status -->
          <!-- <ion-button class="footer-list-button" color="medium" tooltip="Disable" delay="500" [ngClass]="{'disabled':checkedList.length == 0}" (click)="enabledDisabled('multiple', '0', fetchItems);">
            <ion-icon name="eye"></ion-icon>
          </ion-button> -->
          <!-- enable/disable button end -->
          
        </li>
        

        <!-- export selected item -->
        <li [ngClass]="{'disabled':checkedList.length == 0}">
          <ion-button class="background-cyan export-button" color="primary" tooltip="Select Item Pdf" flow="up" delay="500" (click)="onExport('multiple', checkedList, '')">
            <ion-icon name="document"></ion-icon>
          </ion-button>
        </li>

        <!-- export selected item -->
        <li [ngClass]="{'disabled':checkedList.length == 0}">
          <ion-button class="export-button" color="success" tooltip="All Export" flow="up" delay="500" (click)="onExport('multiple_list', checkedList, '')">
            <ion-icon name="document"></ion-icon>
          </ion-button>
        </li>


      </ul>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li class="circle-border" [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)" tooltip="First" flow="up" delay="500">
                <!-- First -->
                <ion-icon name="skip-backward"></ion-icon>
              </a>
          </li>
          <li class="circle-border" [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)" tooltip="Previous" flow="up" delay="500">
                <!-- Previous -->
                <ion-icon name="arrow-dropleft-circle"></ion-icon>
              </a>
          </li>
          <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
          <!-- <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
          </li> -->
          <li>
              Page <a>{{ pager.currentPage }}</a> of {{ pager.totalPages }} 
          </li>
          <!-- <li>
            <ion-input class="pull-left margin-right-5 margin-top-1" value="{{ pager.currentPage }}" placeholder="{{ pager.currentPage }}"></ion-input>
            <span class="page-text-color vertical-middle font-size-14"> Page  of {{ pager.totalPages }}</span>  
          </li> -->
          <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
          <li class="circle-border" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)" tooltip="Next" flow="up" delay="500">
                <!-- Next -->
                <ion-icon name="arrow-dropright-circle"></ion-icon>
              </a>
          </li>
          <li class="circle-border" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)" tooltip="Last" flow="up" delay="500">
                <!-- Last -->
                <ion-icon name="skip-forward"></ion-icon>
              </a>
          </li>
      </ul>
      
      </ion-col>
    </ion-row>
  <!-- pager end -->

</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
